.text-shadow {
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}



.article-data {
    line-height:30%;
}

.layout {
    border: 1px dotted grey;
    height: 100px;
    width: 80px;
}

.layout-red {
    border: 1px solid red;
    height: 100px;
    width: 80px;
}